<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Factory Fitness Club</title>
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/generalStyle.css">
    <link rel="stylesheet" href="/css/<%= pageId %>Style.css">
    <script src="/js/demo.js" defer></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  </head>
  <body>
    <header id="header-banner">
      <div id="navigation">
        
        <div id="banner__logo">
          <a href="/">
            <p id="banner__logo-1">Health Factory</p>
            <p id="banner__logo-2">FITNESS - BOXING - SPA</p>
          </a>
        </div>
        <nav id="menu">
              <a class="menu__item" id="menu__activities" href="/activities">Activities</a>
              <a class="menu__item" href="/memberships">Memberships</a>
              <a class="menu__item" href="/location">Location</a>
              <a class="menu__item" href="/contact">Contact</a>
              <a class="menu__item" id="menu__team" href="/staff">Team</a>
        </nav>
        <div>
          <a id="menu__toggle" href="#">&#9776;</a>
        </div>
      </div>
      <div id="banner__text">
        <h1 id="banner__text-title">Because you deserve the best quality service</h1> 
      </div>
      <div id="banner__btn">
        <h1 id="banner__btn-trial">Free trial</h1> 
      </div>
    </header>