<%- include('partials/header') %>

<h1 class="page-title">Contact us !</h1>
  <div class="contact">
    <form class="contact__form" action="filledForm" method="formData">
        <div class="contact__form-input">
            <label class ="contact__form-label" for="last_name">Lastname</label>
            <input id="last_name" type="text" placeholder="John">

            <label class ="contact__form-label" for="first_name">Firstname</label>
            <input id="first_name" type="text" placeholder="Smith">
        </div>
        <div class="contact__form-input">
            <label class ="contact__form-label" for="email">Email</label>
            <input id="email" type="email" placeholder="John.smith@yolo.com">

            <label class ="contact__form-label" for="phone">Phone number</label>
            <input id="phone" type="tel" placeholder="+1-456-56-65">
        </div>
        <div class="contact__form-message">
            <label class ="contact__form-label" for="message">Your message</label>
            <textarea id="message" cols="50" rows="20" placeholder="Hello ! I would like to suscribe :)"></textarea>   
        </div>
        <div>
            <button class="submitBtn" type="submit">Send</button>
        </div>
    </form>
  </div>
    </article>
    
<%- include('partials/footer') %>