<%- include('partials/header') %>

    <div class="allStaff">
        <div class="oneStaff">
            <h2 class="name">Amber</h3>
            <h3 class="statut">Director</h3>
            <div class="staff__imgContainer">
                <img class="staff__img" src="/img/staff2.png" alt="">
            </div>
        </div>
        <div class="oneStaff">
            <h3 class="name">John</h3>
            <h3 class="statut">Coach</h3>
            <div class="staff__imgContainer">
                <img class="staff__img" src="/img/staff3.png" alt="">
            </div>
        </div>
        <div class="oneStaff">
            <h3 class="name">Julie</h3>
            <h3 class="statut">Receptionnist</h3>
            <div class="staff__imgContainer">
                <img class="staff__img" src="/img/staff1.png" alt="">
            </div>
        </div>
    </div>

<%- include('partials/footer') %>