/*-----------------------------Navigation on movment--------------------*/
#move{ 
  position: fixed;
  display: flex;
  opacity:0;
  text-align: center;
  align-items: center;
  background-color: black;
  color: white;
  top:0;
  padding: 1% 5%;
  width: 100%;
  transition: opacity 500ms ease;
}

.move__logo{ 
  background-color: rgba(190, 75, 45, 1);
  padding: 1% 1%;
  width: 40%;
  height : 15%;
  text-align: center;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

#move__logo-1 { 
  padding: 5% 1%;
  font-size: 220%;
  text-shadow: rgb(14, 13, 13) 1px 0 10px;
}

#move__logo-2{
  padding: 1% 1%;
  font-size: 150%;
  color: black;
}

.move__menu{
  padding: 0 2%;
  width: 100%;
  font-size: 150%;
}

.move__item{
  padding: 7% 4%;
}

.move__item:hover{ 
  background-color: rgba(190, 75, 45, 1);
  } 

@media (max-width : 1400px) {

  #move__logo-1 { 
    font-size: 200%;
  }
          
  #move__logo-2{
    font-size: 120%;
  }
          
  .move__menu{
    padding: 0 1%;
    width: 120%;
    font-size: 130%;
  }
}      
      
@media (max-width : 1150px) {
        
  .move__menu{
    padding: 0 1%;
    width: 120%;
    font-size: 120%;
  }
        
  .move__item{
    margin: 0 2%;
  }

  #move__logo-1 { 
    font-size: 160%;
  }
        
  #move__logo-2{
    font-size: 90%;
  }
}
      
@media (max-width : 900px) {
      
  #move__logo-1 { 
    font-size: 150%;
  }
        
  #move__logo-2{
    font-size: 70%;
  }

  .move__menu{
    font-size: 100%;
  }
}

@media (max-width: 767px) {

  .moveDefault{
    display:none;
  }

}

/*-------------------------------HEADER---------------------------------*/

#header-banner { 
  background-repeat: no-repeat;
  background-size: cover;
  height:70vh;
  color: white;
  position:relative;
}

#navigation{
  position:absolute;
  left: 8%;
  right: 5%;
  top: 5%;
  display: flex;
  text-align: center;
  align-items: center;
}

#banner__logo{ 
  background-color: rgba(190, 75, 45, 1);
  padding: 1% 1%;
  width: 40%;
  height : 15%;
  text-align: center;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

#banner__logo-1 { 
  padding: 5% 1%;
  font-size: 220%;
  text-shadow: rgb(14, 13, 13) 1px 0 10px;
}

#banner__logo-2{
  padding: 1% 1%;
  font-size: 150%;
  color: black;
}

#menu{
  padding: 0 2%;
  width: 120%;
  font-size: 150%;
}

.menu__item{
  margin: 0 4%;
}

.menu__item:hover{
  text-shadow: white 1px 0 10px;
}

#menu__toggle{ 
  display:none;
} 

#banner__text{
  text-shadow: rgb(14, 13, 13) 1px 0 10px;
}

#banner__text-title{
  position: absolute;
  bottom: 30%;
  left: 10%;
  right: 10%;
  font-size: 2.2rem;
  padding: 10% auto;
  text-align: center;
}

#banner__text-description{
  text-align: center;
  position: absolute;
  bottom: 55%;
  left: 50%;
  font-size: 1rem;
  line-height: 150%;
  padding: 1% 1%;
  border-radius: 10px;
  background-color: rgba(245,245,245,0.3);
}

#banner__text-description:hover{
  background-color: rgba(245,245,245,0.4);
}

#banner__btn{
  display:none;
  position: absolute;
  bottom: 20%;
  left: 20%;
  background-color: rgba(190, 75, 45, 1);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5% 5%;
  border-radius: 3rem;
  border: none;
  text-shadow: rgb(14, 13, 13) 1px 0 10px;
}

@media (max-width : 1400px) {

  #banner__logo-1 { 
    font-size: 200%;
  }
  
  #banner__logo-2{
    font-size: 120%;
  }
  
  #menu{
    padding: 0 1%;
    width: 120%;
    font-size: 130%;
  }
}


 @media (max-width : 1150px) {
  
  #menu{
    padding: 0 1%;
    width: 120%;
    font-size: 120%;
  }
  
  .menu__item{
    margin: 0 2%;
  }
  #banner__logo-1 { 
    font-size: 160%;
  }
  
  #banner__logo-2{
    font-size: 90%;
  }

  #banner__text-description{
    line-height: 120%;
    margin-right: 2%;
  }

  #banner__text-title{
    font-size: 2rem;
  }

      }

@media (max-width : 900px) {

  #banner__logo-1 { 
    font-size: 150%;
  }
  
  #banner__logo-2{
    font-size: 70%;
  }

  #menu{
    font-size: 100%;
  }

  #banner__text-description{
    line-height: 110%;
    font-size: 0.9rem;
    margin-right: 2%;
  }
    
  #banner__text-title{
    font-size: 1.8rem;
  }
}

@media (max-width: 767px) {

  #banner__logo{ 
    padding: 2% 1%;
    width: 55%;
    height : 40%;
  }

  #banner__logo-1 { 
    font-size: 220%;
  }
  
  #banner__logo-2{
    font-size: 90%;
  }

  #menu__toggle {
    max-height: 100%;
    position: absolute;
    top:1.8rem;
    right:1rem;
    margin-top: -1.5%;
    display: block;
    font-size: 3rem;
    cursor: pointer;
  }

  #menu {
    display: none;
    position: absolute;
    width: 97%;
    height: 43vh;
    top: 65%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15% auto;
    background: linear-gradient(to bottom, rgba(26, 26, 26, 0.8), rgba(51, 51, 51, 0.8));
    border: 1px solid #ddd;
    border-radius: 0.5rem;
  }

  .menu__item{
    height: 5rem;
    font-size: 1.5rem;
    width: 40%;
  }

  #menu__activities{
    margin-top:9%;
  }
  #banner__text-title{
    display:none;
  }

  #banner__btn{
    display:flex;
  }
  
}

@media (max-width: 600px) {

  #banner__logo-1 { 
    font-size: 200%;
  }
  
  #banner__logo-2{
    font-size: 80%;
  }

  #menu__toggle {
    top:1.5rem;
    font-size: 2.5rem;
  }

  #menu {
    height: 48vh;
    top: 75%;
  }

  #menu__activities{
    margin-top:14%;
  }
  
}


  /*----------------------------------FOOTER-----------------------*/
  
  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
  }
  
  .footer__links {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 2%;
    width: 90vw;
  }

  .footer__logo{ 
    background-color: rgba(190, 75, 45, 1);
    padding: 1% 2%;
    width: 60%;
    height : 15%;
    margin: 2% 2%;
    margin-right: 3%;
    text-align: center;
    white-space: nowrap;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
  }
  
  #footer__logo-1 { 
    padding: 5% 1%;
    font-size: 150%;
    text-shadow: rgb(14, 13, 13) 1px 0 10px;
  }
  
  #footer__logo-2{
    padding: 1% 1%;
    font-size: 90%;
    color: black;
  }
  
  .footer__link {
    width: 70%;
    margin: 2.5% 2%;
    font-size: 1.3rem;
    white-space: nowrap;
  }

  #footer__link-socialMedia{
    display: flex;
    flex-direction: column;
  }
  
  .footer__link-title {
    color: grey;
    font-weight: bold;
    margin-bottom: 3%;
  }
  
  .footer__link-text {
    color: white;
    margin-bottom: 2%;
    font-size: 1.2rem;
  }
  
  .last {
    text-align: center;
    padding: 2% auto;
    font-size: 1.3rem;
  }

  @media (max-width : 1150px) {

    #footer__logo-1 { 
      font-size: 140%;
    }
    
    #footer__logo-2{
      font-size: 70%;
    }

    .footer__link {
      font-size: 1rem;
    }

    .footer__link-text {
      font-size: 0.8rem;
    }

    .last {
      font-size: 1.1rem;
    }
   
  }
        
  @media (max-width : 900px) {

    #footer__logo-1 { 
      font-size: 130%;
    }
    
    #footer__logo-2{
      font-size: 60%;
    }

    .footer__link {
      font-size: 1rem;
    }

    .footer__link-text {
      font-size: 0.8rem;
    }

    .last {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 600px) {

    #footer__logo-1 { 
      font-size: 110%;
    }
    
    #footer__logo-2{
      font-size: 50%;
    }

    .footer__link {
      font-size: 0.8rem;
    }

    .footer__link-text {
      font-size: 0.6rem;
    }
  
    .last {
      font-size: 0.8rem;
    }
    
  }