/*-------------------------------HEADER---------------------------------*/
  
#header-banner { 
    background-image: url(../img/staff.jpg);
    background-position: 12% 50%;
  }

/*---------------------------STAFF-----------------------*/

.allStaff{ 
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.name{ 
  margin-bottom: 8%;
  font-size: 1.5rem;
}

.statut{ 
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10%;
}

.oneStaff{ 
  border: 2px solid grey;
  margin: 1% 3%;
  padding: 2% 2%;
  border-radius: 5%;
}

.staff__admin{ 
  margin: 3% 5%;
  width: 6%;
  border: 1px solid black;
  border-radius: 25%;
}