/*--------------------------------HEADER---------------------------*/

#header-banner { 
    background-image: url(../img/Fitness.webp);
    background-position: 10% 70%;
    height:100vh;
  }

@media (max-width: 767px) {
  
  #menu {
    height: 70vh;
  }
  
  .menu__item{
    height: 5rem;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 3%;
  }
  
  #menu__activities{
    margin-top:0%;
  }
  
  #banner__text-title{
    display:none;
  } 
}

@media (max-width: 600px) {

  #menu {
    top: 80%;
  }

  #menu__activities{
    margin-top:5%;
  }
  
}

/*--------------------------------------MAIN------------------------------------------*/

@media (max-width: 767px) {
  .content{
    display:none;
  }
}

/*---------------------------ACTIVITIES ARTICLES-----------------------*/

.articles {
    background-color: rgb(218, 214, 214);
    padding: 5% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .article {
    background-color: white;
    width: 40%;
    margin: 1% 1%;
    display: flex;
    border-radius: 5px;
  }
  
  .article__left{
    width: 55%;
    padding: 2%;
  }
  
  .article__right{
    width: 45%;
  }
  
  .article__right-img{
    height : 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .article__left-title{
    margin: 1% 2%;
    padding-bottom: 7%;
    font-size: 150%;
    font-weight: bold;
  }
  
  .article__left-text{
    font-size: 80%;
    margin: 1% 2% ;
  }

  #activities__btn{
    margin-top: 4%;
    width:50vw;
    display: flex;
    justify-content: center;
    color:black;
  }

#activities__btn:hover{
    text-decoration: underline;
  }
  
  @media (max-width : 900px) {
    .article{
      width: 80%;
      margin: 3% 5%;
    }
  
    .articles {
      text-align: center;
    }
  
    .article__left-title{
      padding-top: 6%;
      padding-bottom: 8%;
      font-size: 180%;
    }
    
    .article__left-text{
      font-size: 110%;
      margin: 1% 2% ;
    }
  
}

/*-----------------------------------LOCATION--------------------------------*/

.gym{
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 7% 0 5% 0;
  margin: 0 5% 0 5%;
  height: 80vh;
  border-bottom: 3px solid whitesmoke;
}

.gym__left{
  display: flex;
  justify-content: right;
  }

.gym__left-img{
  width: 100%;
  object-fit: cover;
  }

.gym__right{
  width: 50%;
  padding: 0 3%;  
  }

#gym__right-title{
  font-size: 2.5rem;
  margin-bottom: 8%;
}

#gym__right-text{
  padding: 5% 0;
  line-height: 150%;
  margin-bottom: 5%;
}

.gym__right-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gym__right-logo-img{
  width: 10%;
}

.gym__right-logo-title{
  font-size: 1rem;
  padding: 5% 0;
}

@media (max-width : 1000px) {

  #gym__right-title{
    font-size: 2,2rem;
    margin-bottom: 10%;
    }   

  #gym__right-text{
    padding: 5% 0;
    line-height: 100%;
    margin-bottom: 10%;
    }

}     

@media (max-width : 900px) {

  .gym{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 80%;
  }

  .gym__right{
    margin-top: 5%;
    width: 100%;
    }

  #gym__right-title{
    font-size: 2rem;
    margin-bottom: 0;
    }   

  #gym__right-text{
    line-height: 100%;
    margin-bottom: 0;
    }

  .gym__right-logo-title{
    font-size: 1rem;
    padding: 0;
    }
}  

/*--------------------------------------------TRIAL------------------------------------*/

.tryingSession{
  background-color: black;
  height: 55vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  }

.tryingSession__img{
  opacity: 0.8;
  height: 55vh;
  width: 100%;
  position: absolute;
  object-fit: cover;
  }

.tryingSession__text{
  position: relative;
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 2% 5%;
  }

.tryingSession__text-title1, .tryingSession__text-title2{
  font-size: 2rem;
  margin: 5% auto;
  }

.tryingSession__text-title2{
  font-size: 1.7rem;
  }

.tryingSession__text-btn{
  color: whitesmoke;
  background-color:rgb(199, 20, 20);
  padding: 3% 4%;
  font-size: 1rem;
  border: none;
  margin: 5% auto;
  text-shadow: rgb(14, 13, 13) 1px 0 10px;
  }

/*--------------------------------------FOOTER------------------------------------------*/

@media (max-width: 767px) {
  .footer{
    display:none;
  }
}