
  <nav id="move" class="moveDefault">
    <div class="move__logo">
      <a href="/">
        <p id="move__logo-1">Health Factory</p>
        <p id="move__logo-2">FITNESS - BOXING - SPA</p>
      </a>
    </div>
    <div class="move__menu">
      <a class="move__item" href="/activities">Activities</a>
      <a class="move__item" href="/memberships">Memberships</a>
      <a class="move__item" href="/location">Location</a>
      <a class="move__item" href="/contact">Contact</a>
      <a class="move__item" href="/staff">Team</a>
    </div>
  </nav>



    <footer class="footer">
      <div class="footer__links">
        <div class="footer__link">
          <p class="footer__link-title">Contact Us</p>
          <p class="footer__link-text">(01)685-xxxx</p>
          <a href="http://gmail.com" class="footer__link-text">fitness@gain.com</a>
        </div>
        <div class="footer__link">
          <p class="footer__link-title">Follow Us</p>
          <a href="http://instagram.com" class="footer__link-text">Instagram</a>
          <a href="http://facebook.com" class="footer__link-text">Facebook</a>
        </div>
        <div class="footer__link">
          <p class="footer__link-title">Find Us</p>
          <p class="footer__link-text">2456 Industrial Highway</p>
          <p class="footer__link-text">Los Angeles, 90001</p>
        </div>
      </div>
      <div  class="last">
        <p>Health Factory Fitness Club | All Rights Reserved 2023</p>
      </div>

  </footer>
</body>
</html>
  