<%- include('partials/header') %>

    <main class="content">      
      <div class="articles">
        <article class="article">
          <header class="article__left">
            <h2 class="article__left-title">Cardio training</h2>
            <p class="article__left-text">Train your heart and burn calories through our state-of-the-art equipment !</p>
          </header>
          <div class="article__right">
            <img class="article__right-img" src="../img/runningmuscle.jpg" alt="CardioTraining">
          </div>
        </article>
        <article class="article">
          <header class="article__left">
            <h2 class="article__left-title">Muscle building</h2>
            <p class="article__left-text">Gain muscle and reinforce yourself both physically and mentally with a large range of weight !</p>
          </header>
          <div class="article__right">
            <img class="article__right-img" src="../img/Bras-bis-1-768x480.jpg" alt="MuscleBuilding">
          </div>
        </article>
        <article class="article">
          <header class="article__left">
            <h2 class="article__left-title">Pilates</h2>
            <p class="article__left-text">Get in shape through this method to train all your body muscles with no impact.</p>
          </header>
          <div class="article__right">
            <img class="article__right-img" src="../img/pilates1.jpg" alt="Pilates">
          </div>
        </article>
        <article class="article">
          <header class="article__left">
            <h2 class="article__left-title">Personal training</h2>
            <p class="article__left-text">Our qualified team will follow your training with pleasure to guarantee you an efficient training in total security.</p>
          </header>
          <div class="article__right">
            <img class="article__right-img" src="../img/AdobeStock_95873599-1.jpeg" alt="PersonalTraining">
          </div>
        </article>
        <article class="article">
          <header class="article__left">
            <h2 class="article__left-title">Boxing</h2>
            <p class="article__left-text">Liberate your energy and find peace in your mind with our martial arts sessions adapted to all levels.</p>
          </header>
          <div class="article__right">
            <img class="article__right-img" src="../img/boxing.jpg" alt="Boxing">
          </div>
        </article>
        <article class="article">
          <header class="article__left">
            <h2 class="article__left-title">Group lessons</h2>
            <p class="article__left-text">Training in group is a great way to boost your motivation, your energy and.. YOUR RESULT !</p>
          </header>
          <div class="article__right">
            <img class="article__right-img" src="../img/group-fitness-class-tips_2.jpg" alt="GroupLessons">
          </div>
        </article>
        <div id ="activities__btn">
          <a href="/activities">see more..</a>
        </div>
      </div>
      <div class="gym">
        <section class="gym__left">
          <img class="gym__left-img" src="../img/Gym building.jpg" alt="GymBuilding">
        </section>
        <section class="gym__right">
          <h1 id="gym__right-title">Health Fitness - Gym club in Los Angeles</h1>
          <p id="gym__right-text">Located in the main street of the city, Health Fitness welcomes you every day 24/7 with its 5000m² of state-of-the-art equipment to provide you the wellness you deserve.</p>
            <div class="gym__right-logo">
              <img class="gym__right-logo-img" src="../img/Gym logo.jpg" alt="GymLogo">
              <h3 class="gym__right-logo-title">FITNESS</h3>
            </div>
            <div class="gym__right-logo">
              <img class="gym__right-logo-img" src="../img/Fitness logo.png" alt="FitnessLogo">
              <h3 class="gym__right-logo-title">GROUP LESSONS</h3>
            </div>
            <div class="gym__right-logo">
              <img class="gym__right-logo-img" src="../img/SPA logo.jpg" alt="SpaLogo">
              <h3 class="gym__right-logo-title">WELLNESS</h3>
            </div>
        </section>
      </div>
      <div class="tryingSession">
        <img class="tryingSession__img" src="../img/test.jpg" alt="trial">
          <div class="tryingSession__text">
            <h1 class="tryingSession__text-title1">Do you want to try ?</h1>
            <h2 class="tryingSession__text-title2">10 $ for an full hour access (20 $ for a group class)</h2>
            <button class="tryingSession__text-btn">
              <a href="/contact">I book my session</a>
            </button>
          </div>
      </div>
  </main>

<%- include('partials/footer') %>