<%- include('partials/header') %>

<main class="content">      
  <div class="articles">
    <article class="article">
      <div class="article__top">
        <h2 class="article__top-title">Basic</h2>
        <p class="article__top-text">Access to the free weight and cardio-training 24/7</p>
      </div>
      <div class="article__bottom">
        <img class="article__bottom-img" src="../img/Bras-bis-1-768x480.jpg" alt="Basic">
      </div>
    </article>
    <article class="article">
      <div class="article__top">
        <h2 class="article__top-title">Premium</h2>
        <p class="article__top-text">Access to our fitness 24/7 + all our group classes !</p>
      </div>
      <div class="article__bottom">
        <img class="article__bottom-img" src="../img/group-fitness-class-tips_2.jpg" alt="Premium">
      </div>
    </article>
  </div>
</main>


<%- include('partials/footer') %>