<%- include('partials/header') %>

  <div class="activities">
    <article class="activity-pair">
      <header class="activity__1">
        <h2 class="activity__title">Cardio training</h2>
        <p class="activity__text">Train your heart and burn calories through our state-of-the-art equipment !</p>
      </header>
      <div class="activity__2">
        <img class="activity__img" src="../img/runningmuscle.jpg" alt="CardioTraining">
      </div>
    </article>
    <article class="activity-impair">
        <div class="activity__2">
          <img class="activity__img" src="../img/Bras-bis-1-768x480.jpg" alt="MuscleBuilding">
        </div>
      <header class="activity__1">
        <h2 class="activity__title">Muscle building</h2>
        <p class="activity__text">Gain muscle and reinforce yourself both physically and mentally with a large range of weight !</p>
      </header>
    </article>
    <article class="activity-pair">
      <header class="activity__1">
        <h2 class="activity__title">Pilates</h2>
        <p class="activity__text">Get in shape through this method to train all your body muscles with no impact.</p>
      </header>
      <div class="activity__2">
        <img class="activity__img" src="../img/pilates1.jpg" alt="Pilates">
      </div>
    </article>
    <article class="activity-impair">
        <div class="activity__2">
           <img class="activity__img" src="../img/AdobeStock_95873599-1.jpeg" alt="PersonalTraining">
        </div>
      <header class="activity__1">
        <h2 class="activity__title">Personal training</h2>
        <p class="activity__text">Our qualified team will follow your training with pleasure to guarantee you an efficient training in total security.</p>
      </header>
    </article>
    <article class="activity-pair">
      <header class="activity__1">
        <h2 class="activity__title">Boxing</h2>
        <p class="activity__text">Liberate your energy and find peace in your mind with our martial arts sessions adapted to all levels.</p>
      </header>
      <div class="activity__2">
        <img class="activity__img" src="../img/boxing.jpg" alt="Boxing">
      </div>
    </article>
    <article class="activity-impair">
        <div class="activity__2">
           <img class="activity__img" src="../img/group-fitness-class-tips_2.jpg" alt="GroupLessons">
        </div>
      <header class="activity__1">
        <h2 class="activity__title">Group lessons</h2>
        <p class="activity__text">Training in group is a great way to boost your motivation, your energy and.. YOUR RESULT !</p>
      </header>
    </article>
  </div>

<%- include('partials/footer') %>