<%- include('partials/header') %>
    <div class="filledForm">
        <p>Thank you for your message !</p>
        <p>Our team will give you a quick answer :)</p>
    </div>

<%- include('partials/footer') %>