<%- include('partials/header') %>

<div class="location">
    <section class="location__left">
      <img class="location__left-img" src="../img/locationMap.jpg" alt="location map">
    </section>
    <section class="location__right">
      <h1 id="location__right-title">Our location</h1>
      <p id="location__right-text">Our address:<br><span id="strong" >Highway<br>Los Angeles, 90001<br></span><br>Located in the main street of the city, Health Fitness welcomes you every day 24/7 with its 5000m² of state-of-the-art equipment to provide you the wellness you deserve.</p>
    <div class="logo">
      <div class="gym__right-logo">
        <img class="gym__right-logo-img" src="../img/Gym logo.jpg" alt="GymLogo">
        <h3 class="gym__right-logo-title">FITNESS</h3>
      </div>
      <div class="gym__right-logo">
        <img class="gym__right-logo-img" src="../img/Fitness logo.png" alt="FitnessLogo">
        <h3 class="gym__right-logo-title">GROUP LESSONS</h3>
      </div>
      <div class="gym__right-logo">
        <img class="gym__right-logo-img" src="../img/SPA logo.jpg" alt="SpaLogo">
        <h3 class="gym__right-logo-title">WELLNESS</h3>
      </div>
  </div>
  </section>
</div>

  <%- include('partials/footer') %>