<%- include('partials/header') %>

    <div class="allStaff">
        <div class="oneStaff">
            <h2 class="name">James</h3>
            <h3 class="statut">Director</h3>
            <img src="/img/staff2.png" alt="">
        </div>
        <div class="oneStaff">
            <h3 class="name">John</h3>
            <h3 class="statut">Coach</h3>
            <img src="/img/staff2.png" alt="">
        </div>
        <div class="oneStaff">
            <h3 class="name">Mike</h3>
            <h3 class="statut">Receptionnist</h3>
            <img src="/img/staff2.png" alt="">
        </div>
        <div class="staff__admin">
            <a href="/admin">
            <img src="/img/admin.png" alt="adminImg">
            </a>
        </div>
    </div>

<%- include('partials/footer') %>